@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0c0c;
  --foreground: #00FF41;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Scrollbar hiding for that embedded feeling */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
